vscode/dot-config/Code/Backups
vscode/dot-config/Code/Cache
vscode/dot-config/Code/CachedConfigurations
vscode/dot-config/Code/CachedData
vscode/dot-config/Code/CachedExtensionVSIXs
vscode/dot-config/Code/CachedProfilesData
vscode/dot-config/Code/Code Cache
vscode/dot-config/Code/Crashpad
vscode/dot-config/Code/DawnCache
vscode/dot-config/Code/Dictionaries
vscode/dot-config/Code/GPUCache
vscode/dot-config/Code/Local Storage/leveldb
vscode/dot-config/Code/Service Worker
vscode/dot-config/Code/Session Storage
vscode/dot-config/Code/User/History
vscode/dot-config/Code/User/globalStorage/ms-vscode-remote.remote-containers/imageConfigs
vscode/dot-config/Code/User/globalStorage/ms-vscode-remote.remote-containers/cli-bin
vscode/dot-config/Code/User/globalStorage/ms-vscode-remote.remote-containers/nameConfigs
vscode/dot-config/Code/User/globalStorage/vscodevim.vim
vscode/dot-config/Code/User/globalStorage/state.vscdb
vscode/dot-config/Code/User/globalStorage/state.vscdb.backup
vscode/dot-config/Code/User/globalStorage/storage.json
vscode/dot-config/Code/User/workspaceStorage
vscode/dot-config/Code/User/settings.json
vscode/dot-config/Code/WebStorage
vscode/dot-config/Code/databases
vscode/dot-config/Code/logs
vscode/dot-config/Code/Cookies
vscode/dot-config/Code/Cookies-journal
vscode/dot-config/Code/Network Persistent State
vscode/dot-config/Code/Preferences
vscode/dot-config/Code/TransportSecurity
vscode/dot-config/Code/code.lock
vscode/dot-config/Code/languagepacks.json
vscode/dot-config/Code/machineid
vscode/dot-config/Code/.org.chromium.Chromium.*
nvim/dot-config/nvim/lazy-lock.json
nvim/dot-config/nvim/lazyvim.json
