dot-config/Code/Backups/0285aca99649bc822e9c06bef30896fe/file
dot-config/Code/Cache/Cache_Data
dot-config/Code/CachedConfigurations/folder/-2f98a19f
dot-config/Code/CachedData/f1b07bd25dfad64b0167beb15359ae573aecd2cc
dot-config/Code/CachedExtensionVSIXs
dot-config/Code/CachedProfilesData/__default__profile__
dot-config/Code/Code Cache
dot-config/Code/Crashpad
dot-config/Code/DawnCache
dot-config/Code/Dictionaries
dot-config/Code/GPUCache
dot-config/Code/Local Storage/leveldb
dot-config/Code/Service Worker
dot-config/Code/Session Storage
dot-config/Code/User/History
dot-config/Code/User/globalStorage/ms-vscode-remote.remote-containers/imageConfigs
dot-config/Code/User/globalStorage/ms-vscode-remote.remote-containers/cli-bin
dot-config/Code/User/globalStorage/ms-vscode-remote.remote-containers/nameConfigs
dot-config/Code/User/globalStorage/vscodevim.vim
dot-config/Code/User/globalStorage/state.vscdb
dot-config/Code/User/globalStorage/state.vscdb.backup
dot-config/Code/User/globalStorage/storage.json
dot-config/Code/User/workspaceStorage
dot-config/Code/User/settings.json
dot-config/Code/WebStorage
dot-config/Code/databases
dot-config/Code/logs
dot-config/Code/Cookies
dot-config/Code/Cookies-journal
dot-config/Code/Network Persistent State
dot-config/Code/Preferences
dot-config/Code/TransportSecurity
dot-config/Code/code.lock
dot-config/Code/languagepacks.json
dot-config/Code/machineid
